<!-- <p>inscription-client works!</p> -->

<!-- <form [formGroup]="BodyFormClientAdd" (ngSubmit)="OnsubmitAdd()"  action="#" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter name" name="name" formControlName="name" required>

      <label for="lastname"><b>LastName</b></label>
      <input type="text" placeholder="Enter lastname" name="lastname" formControlName="lastname" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" formControlName="email" required>
      

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" formControlName="password" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
  <br> -->
  
        <!-- Login Section Start -->
        <!-- <section id="login" *ngIf="false; else elseBlock"> -->
        <section id="login" *ngIf="display; else elseBlock">
          <div class="container">
              <div class="section-header">
                  <h3>Registration / Login</h3>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="login-col-1">
                          <div class="login-form">
                              <form [formGroup]="BodyFormClientAdd" (ngSubmit)="OnsubmitAdd()">
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <input type="text" class="form-control" placeholder="Votre nom" formControlName="name" required="required" />
                                      </div>
                                      <div class="form-group col-md-6">
                                          <input type="email" class="form-control" placeholder="Votre prénom" formControlName="lastname" required="required" />
                                      </div>
                                      
                                  </div>
                                  <div class="form-row">
                                    <div class="form-group col-md-12">
                                      <input type="email" class="form-control" placeholder="Votre Email" formControlName="email" required="required" />
                                    </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <span class="text-danger">{{incorrectpassword}}</span>
                                          <input type="password" class="form-control" placeholder="Votre mot de passe" formControlName="password" required="required" />
                                      </div>
                                      <div class="form-group col-md-6">
                                          <span class="text-danger">{{incorrectpassword}}</span>
                                          <input type="password" class="form-control" placeholder="Répeter votre mot de passe" id="repeatpassword" required="required" />
                                      </div>
                                  </div>
                                  <div><button type="submit">Inscription</button></div>
                              </form>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="login-col-2">
                          <div class="login-form">
                              <form [formGroup]="BodyFormFindClient" (ngSubmit)="login()">
                                  <div class="form-group">
                                    <span class="text-danger">{{userinfo}}</span>
                                      <input type="email" class="form-control" placeholder="Votre nom" formControlName="name" required="required" />
                                  </div>
                                  <div class="form-group">
                                    <span class="text-danger">{{passwordinfo}}</span>
                                      <input type="password" class="form-control" placeholder="Votre Mot de passe" formControlName="password" required="required" />
                                  </div>
                                  <div><button type="submit">Se connecter</button></div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Login Section End -->
      <ng-template #elseBlock>
        <section id="login" *ngIf="displayform; else displaycommand">
            <div class="container">
                <div class="section-header">
                    <h3>Login</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">                        
                        <h2>E-Kaly</h2>                       
                        <h3>Pour commander vos plats Veuiller se connecter</h3>
                        <h3>{{userfind}}</h3>
                    </div>                    
                    <div class="col-md-6">
                        <div class="login-col-2">
                            <div class="login-form">
                                <form [formGroup]="BodyFormFindClient" (ngSubmit)="login()">
                                    <div class="form-group">
                                        <span class="text-danger">{{userinfo}}</span>
                                        <input type="email" class="form-control" placeholder="votre nom" formControlName="name" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <span class="text-danger">{{passwordinfo}}</span>
                                        <input type="password" class="form-control" placeholder="votre mot de passe" formControlName="password" required="required" />
                                    </div>
                                    <div><button type="submit">Se Connecter</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <app-plat></app-plat> -->
      </ng-template>

      <ng-template #displaycommand>
          
        
        
        <div id="welcome" #menuheader>
            <div class="container">
                <h3>Bienvenue sur le site Ekaly  {{usersession.name}} </h3>
                
                <p>site de commande de plat en ligne en relation avec plusieurs restaurant de Madagascar.</p>
                <a (click)="showcommand(targetcommand)" #targetcommand>Voir tous vos commandes</a>
                <a (click)="deconnection()" >Se déconnecter</a>
                <!-- <a (click)="onSubmit()">essai envoi mail</a> -->
                
                <!-- <a (click)="sendemail()">essai envoiemail</a> -->
                
            </div>


        </div>
                <!-- Cart Section End -->
                <section id="cart" *ngIf="loadingcart else loadedfinish">
                    <div class="container">
                        <header class="section-header">
                            <h3>
                                <div class="spinner-border text-center" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            </h3>
                        </header>      
                    </div>
                </section>
                          <!-- Welcome Section Start -->
        
       
        <!-- Welcome Section End -->


       

                <!-- Cart Section Start -->
                <ng-template #loadedfinish>
                    
                    

                    <section id="cart" *ngIf="showcommandbyuser" #showlistecommand>
    
                        <div class="container">
                            <header class="section-header">
                                <h3>Listes des livraisons</h3>
                            </header>
                            <div class="row">
                                
                                <div class="col-md-12">              
                                    <div class="table-responsive-sm">
                                       
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Numero</th>
                                                    <th>Nom du Client</th>
                                                    <th scope="col">Date de livraison</th>   
                                                    <th scope="col">Heure de livraison</th>
                                                    <th scope="col">lieu de livraison</th>                             
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let item of listalllivraison; let index = index;">
                                                <tr>
                                                    <th scope="row">{{index+1}}</th>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.datedelivraison}}</td> 
                                                    <td>{{item.heuredelivraison}}</td> 
                                                    <td>{{item.lieudelivraison}}</td> 
                                                    <td><a (click)="showdetails(item)"><i class="fa fa-eye"></i></a></td>                              
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="cart" *ngIf="loadingdetail else loadeddetailfinish">
                        <div class="container">
                            <header class="section-header">
                                <h3>
                                    <div class="spinner-border text-center" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                </h3>
                            </header>      
                        </div>
                    </section>

                     <ng-template #loadeddetailfinish>
                        <section id="cart" *ngIf="showdetailsbyuser" #showdetailcommand>
                            <div class="container">
                                <header class="section-header">
                                    
                                    <h3>Vos Commandes Effectuer</h3>
                                </header>
        
                                 <!--visualisation des Commandes par client connecter Section Start -->
                <section>
                    <div class="container">              
                        <div class="row" >
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="control-group col-sm-9">
                                        <div class="form-group">
                                            <div class="input-group date" id="time" data-target-input="nearest">
                                             
                                                <h3>les commandes de {{usersession.name}} {{usersession.lastname}}</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="control-group col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group" data-target-input="nearest">                 
                                                <h3>E-Kaly</h3>          
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="control-group col-sm-3">
                                        <button class="btn btn-info">Book Now</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        
                                <div class="row" id="savetopdf">
                                    <div class="col-md-12">
                                        <div class="table-responsive-sm">
                                            <table class="table table-bordered table-hover">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col">Menu</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Total</th>                                     
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let itemclient of ListPlatParclient">
                                                    <tr>
                                                        <th scope="row">{{itemclient.nom}}</th>
                                                        <td>{{itemclient.prix}}</td>
                                                        <td>{{itemclient.quantitetotalparplat}}</td>
                                                        <td>{{itemclient.prixtotalparplat}} Ar</td>
                                                        <td><img [src]="itemclient.image" width="100px" height="100px"/></td>
                                                                                                   
                                                    </tr>                                          
                                                </tbody>
                                                <tfoot class="thead-dark">
                                                    <tr>
                                                        <th scope="col">Menu</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">{{this.totallivraison}} Ar</th>                                     
                                                    </tr>
                                                    
                                                </tfoot>
                                            </table>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="button">
                                    <!-- <button type="submit" (click)="Insertcommand()">Checkout</button>     -->
                                    <button type="submit" (click)="hiddencommand(menuheader)">Cacher</button>     
                                    <button (click)="convertToPDF()">save as pdf</button>                                          
            
                            </div>
                            </div>
                        </section>
                     </ng-template>
            

              
                </ng-template>

                <!-- Cart Section End -->

        
      </ng-template>
     
      
      <!-- Login Section End -->
      <!-- <hr> -->
      <!-- les plats disponibles-->
   
        
        
            <app-plat  *ngIf="flag; else templatechange"></app-plat>
            <ng-template #templatechange> <app-plat></app-plat> </ng-template>
        
      
