<!-- <p>Hello world</p>
<p>{{title}}</p> -->
<!-- <app-read-quotes></app-read-quotes> -->
<!-- <app-inscription-client></app-inscription-client> -->

        <!-- Top Header Start -->
        <!-- <section id="top-header">
            <div class="logo">
                <img src="assets/image/food.jpg" />
            </div>
        </section> -->
        <!-- Top Header End -->

        <!-- Header Start -->
        <header id="header" >
            <div class="container">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a (click)="usertemplate()">Home</a></li>                   
                        <li><a (click)="showlivreur()">Livreur</a></li>
                        <li><a (click)="showekaly()">Admin Ekaly</a></li>                       
                        <li><a (click)="usertemplate()">Se Connecter</a></li>
                        <li><a (click)="showrestaurant()">Admin restaurant</a></li>
                        <li><a (click)="downloadFile()">Read Me</a> </li>                       
                        <!-- <li><a (click)="deconnecter()">Se deconnecter<i class="fa fa-user"></i></a></li> -->
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header End -->

        <!-- Reservations Section Start -->
        <section id="reservations">
            <div class="container">
                
                <div class="row">
                    <img src="assets/image/food.jpg" width="1000" height="300"/>
                </div>
            </div>
        </section>
        <!-- Reservations Section End -->

        <!-- Login Section Start -->
        <app-inscription-client *ngIf="displayinscription"></app-inscription-client>
        <app-restaurant *ngIf="displayrestaurant"></app-restaurant>
        <app-ekaly *ngIf="displayekaly"></app-ekaly>
        <app-livreur *ngIf="displaylivreur"></app-livreur>
        <!-- Login Section End -->
        <hr>
        <!-- les plats disponibles-->
        <!-- <app-plat [app-wheels]="sendData"></app-plat> -->
       
        <!-- Subscriber Section Start -->
        <section id="subscriber">
            <div class="container">
                <div class="section-header">
                    <h3>Merci pour votre support !!!</h3>
                </div>

                <!-- <div class="row">
                    <div class="col-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter Your Email">
                            </div>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- Subscriber Section end -->

        <!-- Footer Start -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="copyright">
							<p>&copy; Copyright <a href="">Ekaly</a>. tous droits réserver</p>
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							<p>Auteur <a href="#">Rakotovao Mihary Johan Christian</a></p>
						</div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="icon">
                            <li><a  class="fa fa-twitter"></a></li>
                            <li><a  class="fa fa-facebook"></a></li>
                            <li><a  class="fa fa-pinterest"></a></li>
                            <li><a  class="fa fa-google-plus"></a></li>                                                     
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->

        <a class="back-to-top" (click)="onActivate()"><i class="fa fa-chevron-up"></i></a>
       

        


