<section id="food-menu">
    <div class="container">
        <header class="section-header" #demo>
            <h3>Liste des Menu disponible <i (click)="scroll(target)" class="fa fa-shopping-cart"></i></h3>
        </header>

              
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="BodyFormSearchPlat" (ngSubmit)="searchplatclient()">
                        <div class="form-row">
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="time" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" formControlName="nom" placeholder="menu"/>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="time" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" formControlName="type"  placeholder="Type"/>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="time" data-target-input="nearest">
                                        <input type="number" class="form-control datetimepicker-input" formControlName="prix" placeholder="Prix"/>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <button class="btn btn-info">Recherche <i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
        <div class="row">           
            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of listplat; let index = index;">
                <div class="single-menu">
                    <img class="img-fluid" [src]="item.image" />
                    <div>Ar{{item.prix}}</div>
                    <h4>{{item.nom}}</h4>
                    <a (click)="AddPlat($event,item)"  id="pl_{{item._id}}">{{buttonplatcommand[index]}} </a>
                    <i class="text-white fa fa-shopping-cart fa-lg" width="100" (click)="scroll(target)"></i>
                   
                    
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Cart Section Start -->
<section id="cart" #target>
    <div class="container" *ngIf="verification">
        <header class="section-header">
            <h3>Liste de vos commandes {{userconnect.name}}</h3>
        </header>
        <div class="row">
            <div class="col-md-12">

    <form [formGroup]="BodyFormAddLivraison" (ngSubmit)="Insertcommand()">
        <!-- Commande Section Start -->
        <section id="login">
            <div class="container">              
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="time" data-target-input="nearest">
                                     
                                        <input type="date" class="form-control datetimepicker-input" formControlName="datedelivraison"  placeholder="Date"/>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="time" data-target-input="nearest">
                                      
                                        <input type="time" class="form-control datetimepicker-input" formControlName="heuredelivraison" placeholder="Time"/>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group" data-target-input="nearest">                 
                                        <input type="text" class="form-control datetimepicker-input" formControlName="lieudelivraison" placeholder="Lieu de livraison"/>          
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="control-group col-sm-3">
                                <button class="btn btn-info">Book Now</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Reservations Section End -->
           
                <div class="table-responsive-sm">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Menu</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Total</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of listcommand">
                            <tr>
                                <th scope="row">{{item.nom}}</th>
                                <td>Ar<span id="pr_{{item._id}}">{{item.prix}}</span></td>
                                <td><div class="quantity"><input (input)="oninput($event,item._id)" type="number" value="1" id="qu_{{item._id}}"></div></td>
                                <td>Ar<span id="prqu_{{item._id}}">{{item.prix}}</span></td>
                                <td><a><i class="fa fa-trash-o"  (click)="RemovePlat(item._id)"></i></a></td>                                                     
                            </tr>
                           
                        </tbody>
                        <tfoot class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            
        

                <div class="button">
                        <button type="submit" *ngIf="displaybuttoncommand">Commander</button>                                             
                </div>
    </form>  

            </div>
        </div>
    </div>

        <div id="welcome" *ngIf="commandsuccess">
            <div class="container">
                <h3>Commande ajouter avec succes {{bonjour}}</h3>              
                <h4>une email va etre envoyez pour vous faire connaitre le prix de votre livraison </h4>
                <button class="btn btn-success" (click)="newcommand(demo)">nouvelle commande</button>
                <h3 *ngIf="isprixavalable">le prix de votre livraison est {{prixlivraison}} voir dans votre Email</h3>
                
                <!-- <a (click)="sendemail()">essai envoiemail</a> -->
                
            </div>


        </div>
  
</section>
<!-- Cart Section End -->





